<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jugueteria.lector" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LectorJugueteria</name>
    <description>
        Aplicación para escanear códigos de barras de la juguetería.
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Equipo Juguetería
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <preference name="scheme" value="http" />
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
        <preference name="Hostname" value="localhost" />
    </platform>
</widget>